<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>

{% for scriptUrl in extensionConfig.scripts %}
  <script src="{{scriptUrl}}"></script>
{% endfor %}

<script src="/public/javascripts/application.js"></script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
<script>

  $( document ).ready(function() {
      var headingtext = "";

      $("#mcp-content h2").each(function() {
          headingtext = $(this).text();
          linkid = $(this).find('a').attr('id');
          $("#mcp-contents-list").append('<li>— <a class="govuk-body govuk-!-font-size-16" href="#'+linkid+'">'+headingtext+'</a></li>');
          // <li><a class="govuk-body govuk-!-font-size-16" href="#zzzzzzz">Zzzzzzzzz</a></li>
      });

  });

</script>