// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.blue-box{
    background: #005ea5;
    padding:1em;
    margin-bottom:45px;
    font-size: 16px;
    line-height: 1.25;
    color:#FFFFFF;

      p,a{color:#FFFFFF;}
      span{font-weight:normal;}


  }

  .grey-box{
    background: #dee0e2;
    padding:1em;
    margin-bottom:45px;
    font-size: 19px;

  }

  .email-banner {
    background: #0b0c0c;
    max-width: 80%;
  }

  .totalCost{font-weight:bold;}

  #completeLink{
    display:inline-block;
    font-size: 18px;
    padding:9px 0 0 1em;
  }


#upload{
  padding:1em 0;
  margin:1em 0 2em 0;
  border:2px solid #000;
  padding:1em;
  font-weight:bold;
  font-size:16px;
}

.form-uploader #upload{
  border:none;
  padding:0;
  margin:0;
  font-weight:bold;
}

.form-uploader{
  border:2px solid #000;
  padding:1em;
}

#uploadForm input[type="file"]::-webkit-file-upload-button{
    font-size:18px;
    padding:0.5rem 1rem;
    background:#dee0e2;
    color:#000
}
#uploadForm input[type=file]:hover,#uploadForm input[type=file]::-webkit-file-upload-button:hover{
    cursor:pointer
}

.form-hint-upload{
  margin-bottom:0;
}

.upload_head{
  font-weight:bold;
  margin-bottom:0;
}

// MCP guidance ######################

#mcp-contents-list{
  margin-bottom: 2em;
}

.mcp-contents-head{
  margin-bottom:0.5em;
}

.govuk-section-break--visible {
    margin-bottom: 1em;
}
label.permitItem{
  margin-bottom:10px;
}



.govuk-panel--confirmation2 {
  color: #ffffff;
  background: #1E70B8;
}

.govuk-panel--confirmation3 {
  color: #ffffff;
  background: #28A197;
}



// Choose permit radio button list
.permitSelector {
  float: none;
}

label.permitItem {
  display: inline-block;
  width:100%;
    span.permitName {
      width: 66.66667%;
      float: left;
        }
    span.permitCode {
      width: 33.33333%;
      font-weight: bold;
      text-align:right;
      float: right;
        }
}

.table-no-border {
  border-bottom: none;
  padding-bottom: 0
}

// Fix to stop scroll bars appearing on textareas in IE
textarea {
  overflow: auto;
}

.table-bordered {
  border: 1px solid #bfc1c3;
  padding: 10px 20px 10px 10px;
}

.contact {
    border-left:1px solid #bfc1c3;
    padding-left:15px;
    line-height:-23.25em;
}

.related {
    border-top:2px solid #1d70b8; 
    padding-top:20px;
    line-height:-23.25em;
}



#worldpay-card-details{
	background-image:url('/public/images/worldpay/worldpay_new.jpg');
	height:650px;
	width:764px;
	margin:0 auto 40px auto;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #000;
	}

#worldpay-description{
	position:absolute;
	top:163px;
	left:277px;
	margin:0;
	padding:0;
	}

#worldpay-amount{
	position:absolute;
	top:193px;
	left:277px;
	margin:0;
	padding:0;
	}

#worldpay-pay-button{
	position:absolute;
	top:475px;
	left:635px;
	margin:0;
	padding:0;
	}

#worldpay-success{
	background-image:url('/public/images/worldpay/worldpay-success-sg.png');
	height:330px;
	width:764px;
  margin:0 auto 30px auto;
  font-size: medium;
	position: relative;
  }
  


#worldpay-continue-button{
	position:absolute;
	top:245px;
	left:550px;
	margin:0;
	padding:0;
	}

