{% extends "layout.html" %}

{% block pageTitle %}
Waste carrier or broker prototype
{% endblock %}

{% set versionxxx = "v1" %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Waste carrier or broker prototype
      </h1>
      {% import "includes/macros.html" as macros %}

      <p><a href="/prototype-admin/clear-data">Clear permit data</a></p>
      <!-- user lab -->
      <h2 class="govuk-heading-m">Prototype pages</h2>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <!-- ########################################################################### -->
      
          <h2 class="govuk-heading-m">
            Current research
          </h2>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/{{versionxxx}}/wcr-magic-link/email-renew" target="_blank">WCR magic link renewal</a> <span style="margin-top:12pt;margin-bottom:0pt;border-left:8px">/v1/wcr-magic-link/email-renew</span></li>
          </ul>
          <ul class="govuk-list govuk-list--bullet"> 
            <li><a href="https://waste-carriers.herokuapp.com/public/images/magic-link-v2.pdf" target="_blank" download="Renewal letter magic link v2">Renewal letter magic link v2</a> https://waste-carriers.herokuapp.com/public/images/magic-link-v2.pdf</li>
          </ul>          <ul class="govuk-list govuk-list--bullet"> 
            <li><a href="https://waste-carriers.herokuapp.com/public/images/qr-code-v2.pdf" target="_blank" download="Renewal letter QR v2">Renewal letter QR v2</a> https://waste-carriers.herokuapp.com/public/images/qr-code-v2.pdf</li>
          </ul>     
          <ul class="govuk-list govuk-list--bullet"> 
            <li><a href="https://waste-carriers.herokuapp.com/public/images/magic-link.pdf" target="_blank" download="Renewal letter magic link">Renewal letter magic link</a> https://waste-carriers.herokuapp.com/public/images/magic-link.pdf</li>
          </ul>
          <ul class="govuk-list govuk-list--bullet">    
            <li><a href="https://waste-carriers.herokuapp.com/public/images/redirect.pdf" target="_blank" download="Renewal letter redirect">Renewal letter redirect</a> https://waste-carriers.herokuapp.com/public/images/redirect.pdf</li>
          </ul>
          <ul class="govuk-list govuk-list--bullet"> 
            <li><a href="https://waste-carriers.herokuapp.com/public/images/qr-code.pdf" target="_blank" download="Renewal letter redirect and QR cod">Renewal letter redirect and QR code</a> https://waste-carriers.herokuapp.com/public/images/qr-code.pdf</li>
          </ul>
          <ul class="govuk-list govuk-list--bullet">
            {{ macros.list( "WCR registration", "/v1/your-registration/start-page" ) }}
          </ul>

          <ul class="govuk-list govuk-list--bullet">
            {{ macros.list( "WCR renewal BACS payment receipt", "/v1/your-registration/done/bacs-confirm" ) }}
          </ul>

          <ul class="govuk-list govuk-list--bullet">
            {{ macros.list( "WCR renewal card payment receipt", "/v1/your-registration/done/worldpay-confirm" ) }}
          </ul>

          <ul class="govuk-list govuk-list--bullet">
            {{ macros.list( "BACS renewal from payment summary", "/v1/your-registration/pay/choose-payment" ) }}
          </ul>
          

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <!-- ########################################################################### -->
    
           </div>
              </div>

            {% endblock %}
