{% extends "layout.html" %}

{% block pageTitle %}
Waste carrier prototype
{% endblock %}

{% set versionxxx = "v1" %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Waste carrier or broker prototype
      </h1>
      {% import "includes/macros.html" as macros %}

      <p><a href="/prototype-admin/clear-data">Clear permit data</a></p>
      <!-- user lab -->
      <h2 class="govuk-heading-m">Prototype pages</h2>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <!-- ########################################################################### -->
      
          <h2 class="govuk-heading-m">
            Current research
          </h2>
          <h3 class="govuk-heading-s">
            Letters
          </h3>
          <ul class="govuk-list govuk-list--bullet"> 
            <li><a href="https://waste-carriers.herokuapp.com/public/images/magic-link-v2.pdf" target="_blank" download="Renewal letter magic link v2">Renewal letter magic link v2</a> </li>
          </ul>          
          <ul class="govuk-list govuk-list--bullet"> 
            <li><a href="https://waste-carriers.herokuapp.com/public/images/qr-code-v2.pdf" target="_blank" download="Renewal letter QR v2">Renewal letter QR v2</a> </li>
          </ul>     

          <h3 class="govuk-heading-s">
            Renewal magic link - inc first 6 pages
          </h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/{{versionxxx}}/wcr-magic-link/email-renew" target="_blank">WCR magic link renewal</a> </li>
          </ul>

          <h3 class="govuk-heading-s">
            Registration (limited company only)
          </h3>
          <ul class="govuk-list govuk-list--bullet"> 
            <li><a href="/{{versionxxx}}/your-registration/start-page">WCR registration from the start page</a></li>
          </ul>
          <p style="font-weight: bold;">Dummy data links to check your answers</p>
          <ul class="govuk-list govuk-list--bullet"> 
            <li><a href="/upper-tier-reg">Upper tier registration</a></li>
            <li><a href="/lower-tier-reg">Lower tier registration</a></li>
            <li><a href="/upper-tier-renewal">Renewal</a></li>
          </ul>
          

          <h3 class="govuk-heading-s">
            Payment flows
          </h3>

          <ul class="govuk-list govuk-list--bullet"> 
            <li><a href="/{{versionxxx}}/your-registration/done/worldpay-confirm">WCR renewal card payment receipt, from 'done' page</a></li>
          </ul>

          <ul class="govuk-list govuk-list--bullet"> 
            <li><a href="/{{versionxxx}}/your-registration/pay/choose-payment">BACS renewal from payment summary</a></li>
          </ul>
          
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <!-- ########################################################################### -->
    
          <h2 class="govuk-heading-m">
            Previous letter versions
          </h2>

          <h3 class="govuk-heading-s">
Version 1          </h3>

          <ul class="govuk-list govuk-list--bullet"> 
            <li><a href="https://waste-carriers.herokuapp.com/public/images/magic-link.pdf" target="_blank" download="Renewal letter magic link">Renewal letter magic link</a></li>
          </ul>
          <ul class="govuk-list govuk-list--bullet">    
            <li><a href="https://waste-carriers.herokuapp.com/public/images/redirect.pdf" target="_blank" download="Renewal letter redirect">Renewal letter redirect</a> </li>
          </ul>
          <ul class="govuk-list govuk-list--bullet"> 
            <li><a href="https://waste-carriers.herokuapp.com/public/images/qr-code.pdf" target="_blank" download="Renewal letter redirect and QR cod">Renewal letter redirect and QR code</a></li>
          </ul>


          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <!-- ########################################################################### -->
    
           </div>
              </div>

            {% endblock %}
