
{% extends "layout.html" %}

{% block pageTitle %}
  Waste carrier or broker prototype
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="##">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Waste carrier or broker prototype
      </h1>
      <p class="govuk-body-l">This is not the live service, the live service is <a href="https://www.gov.uk/waste-carrier-or-broker-registration">register as a waste carrier or broker</a>. There is also <a href="https://www.wastecarriersregistration.service.gov.uk/">the renewal service</a>.</p>
      <p class="govuk-body">This prototype is for testing the online part of the waste carrier or broker registration and renewal service. It currently contains a happy path for Limited Companies registrations and renewals via magic link. <!--the complete user journey as per the live service, as well as specific deviations where we are trying out a new approach. Details on how to access all of this can be found in the handy table further down the page--></p>

      <p class="govuk-body">The sprint is 40 and this is version 1 of the design system version prototype. <!--the complete user journey as per the live service, as well as specific deviations where we are trying out a new approach. Details on how to access all of this can be found in the handy table further down the page--></p>

{% import "includes/macros.html" as macros %}

<p class="govuk-body">
  <a href="/prototype-admin/clear-data">Clear stored data</a>
</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <!-- ########################################################################### -->

      
      <ul class="govuk-list govuk-list--bullet">
        {{ macros.list( "Version 1", "index-v1" ) }}
      </ul>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <!-- ########################################################################### -->
      
      
    </div>
  </div>

{% endblock %}
