{% extends "layout.html" %}

{% block pageTitle %}
Waste carrier prototype
{% endblock %}

{% set versionxxx = "v3" %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Waste carrier or broker prototype
      </h1>
      {% import "includes/macros.html" as macros %}

      <p><a href="/prototype-admin/clear-data">Clear permit data</a></p>
      <!-- user lab -->
      <h2 class="govuk-heading-m">Version 3</h2>
      <p class="govuk-body">This version covers everything from version 2, and a new flow for card payment confirmations, which will be the stop gap solution before we can build the receipt for payment flow*.</br></br>*This version only covers Limited Companies, and does not include the smart answers <!--the complete user journey as per the live service, as well as specific deviations where we are trying out a new approach. Details on how to access all of this can be found in the handy table further down the page--></p>
      <p class="govuk-body">The sprint is 41, week starting 9 July 2020. <!--the complete user journey as per the live service, as well as specific deviations where we are trying out a new approach. Details on how to access all of this can be found in the handy table further down the page--></p>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <!-- ########################################################################### -->
      
          <h2 class="govuk-heading-m">
            Current research
          </h2>

          <h3 class="govuk-heading-s">
            Dummy data links to payment flows
          </h3>

          <ul class="govuk-list govuk-list--bullet"> 
            <li><a href="/{{versionxxx}}/magic">Magic link email</a></li>
            <li><a href="/{{versionxxx}}/upper-tier-renewal">Renewal payment receipt, from check your answers</a></li>
           <li><a href="/{{versionxxx}}/worldpay-payment-flow">Renewal Worldpay (only) from choose payment page</a></li>
          </ul>
          
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <!-- ########################################################################### -->
    
          <h2 class="govuk-heading-m">Letters</h2>
          <h3 class="govuk-heading-s">Version 4</h3>
          <p class="govuk-hint">Url in the letter does not go to the prototype, we decided to start testing with the exact url the user would use for live</p>    
 
          <ul class="govuk-list govuk-list--bullet"> 
            <li><a href="https://waste-carriers.herokuapp.com/public/images/renewal-letter-v4.pdf" target="_blank" download="Renewal letter check email">Renewal letter</a></li>
            <li><a href="/{{versionxxx}}/magic" target="_blank">Renewal flow following the letter</a></li>
          </ul>
        

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <!-- ########################################################################### -->
    
           </div>
              </div>

            {% endblock %}
