
{% extends "layout.html" %}

{% block pageTitle %}
What's the company address?
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
      <a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
{% import folder+"/custom_inc/macros.html" as macros %}

{# permit|dump #}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          What's the company address?
        </legend>



        <form action="/{{folder}}/your-registration/cya" method="post">

  
  <p>
          
<p><span class="postcode-prefix">Postcode:</span><br/>
  <span class="postcode" style="font-weight: bold;">BS1 5AH</span>
  <a href="/{{folder}}/address/postcode">
    Change<span class="visuallyhidden"> postcode</span>
  </a>
  </p>
  <div class="form-group">

    <label class="govuk-label" for="premises">Building name or number
      <span class="govuk-hint">For example, a business premises name or house number</span>
    </label>
    <input style="margin-bottom:20px;" type="text" class="govuk-input govuk-!-width-one-half" id="address_contact" />


  <div class="govuk-form-group">
    <label class="govuk-label" for="street_address_contact">Address line 1</label>
    <input type="text" class="govuk-input govuk-!-width-one-half" id="street_address_contact" />
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="locality_contact">Address line 2 (optional)</label>
    <input type="text" class="govuk-input govuk-!-width-one-half" id="locality_contact" />
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="town_contact">Town or city</label>
    <input type="text" class="govuk-input govuk-!-width-one-half" id="town_contact" />
  </div>

</div>


  <div class="form-group">
      {{submitButton|safe}}
  </div>

</form>


    </div>
  </div>

</main>

{% endblock %}
