
{% extends "layout.html" %}

{% block pageTitle %}
What type of business or organisation are you?
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

{% set appType = 'started' %}
{% if permit.started=="yes" %}
    {% set appType = 'yes' %}
{% endif %}
{% set appType = 'started' %}
{% if permit.started=="no" %}
    {% set appType = 'no' %}
{% endif %}

{# permit|dump #}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

   <!--   <form action="/{{folder}}/your-registration/registration-type" method="post">-->
        <form action="{{formAction}}" method="post">

                <div class="govuk-form-group">

                    <fieldset class="govuk-fieldset">

                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading">
                                  What type of business or organisation are you?
                                </h1>
                              </legend>                     
                    </fieldset>
                  </br>
         <fieldset class="govuk-fieldset">

              <div class="govuk-radios">

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="registrationHolder" name="registrationHolder" type="radio" value="sole-trader">
                      <label class="govuk-label govuk-radios__label" for="registrationHolder">
                        Individual or sole trader
                      </label>
                    </div>
                    {% if permit.registrationHolder=="ltdComp" %}
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="registrationHolder2" name="registrationHolder" type="radio" value="ltdComp" checked="checked">
                      <label class="govuk-label govuk-radios__label" for="registrationHolder2">
                        Limited company
                      </label>
                    </div>
                    {% else %}
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="registrationHolder2" name="registrationHolder" type="radio" value="ltdComp">
                      <label class="govuk-label govuk-radios__label" for="registrationHolder2">
                        Limited company
                      </label>
                    </div>
                    {% endif %}


                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="registrationHolder3" name="registrationHolder" type="radio" value="partnership">
                      <label class="govuk-label govuk-radios__label" for="registrationHolder3">
                        Partnership
                      </label>
                    </div>

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="registrationHolder4" name="registrationHolder" type="radio" value="llp"> 
                      <label class="govuk-label govuk-radios__label" for="registrationHolder4">
                        Limited liability partnership
                      </label>
                    </div>

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="registrationHolder5" name="registrationHolder" type="radio" value="la-public-body">
                      <label class="govuk-label govuk-radios__label" for="rregistrationHolder5">
                        Local authority or public body
                      </label>
                    </div>


                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="registrationHolder6" name="registrationHolder" type="radio" value="charity-trust">
                      <label class="govuk-label govuk-radios__label" for="registrationHolder6">
                        Charity or trust
                      </label>
                    </div>
                    

              </div>

          </fieldset>

        </div>
        <p>Not sure? Call our helpline on 03708 506 506.
        </p>            <br/>

            <div class="govuk-form-group">
              {{ govukButton({
                  text: "Continue"
                }) }}
            </div>

      </form>
      
    </div>
  </div>

{% endblock %}
