
{% extends "layout.html" %}

{% block pageTitle %}
  Waste carrier or broker prototype
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}
{% block content %}


	
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
						<span class="govuk-caption-xl">Licence</span>
						<h2 class="govuk-heading-xl">Register or renew as a waste carrier, broker or dealer (England)</h2>

				</div>
			</div>



<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<div class="contents">
					<h3 id="beforeapply" class="govuk-heading-m">Apply for this licence</h3>
	
					<a href="/v1/your-registration/new-registration" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
						Start now
						<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
						  <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
						</svg>
					  </a>
					  
					<h3 id="beforeapply" class="govuk-heading-m">Overview</h3>

					<p>You must register if your business does any of the following:</p>

					<ul class="govuk-list govuk-list--bullet">
						<li>transports waste (a carrier)</li>
						<li>buys, sells or disposes of waste (a dealer)</li>
						<li>arranges for someone else to buy, sell or dispose of waste (a broker)</li>	
					</ul>


								<div class="govuk-warning-text">
									<span class="govuk-warning-text__icon" aria-hidden="true">!</span>

										<strong class="govuk-warning-text__text">
											<span class="govuk-warning-text__assistive">Warning</span>
										You can be fined up to £5,000 if you do not register.
										</strong>

								</div>

					<p>Registration is usually free if you only transport waste you produce yourself. Otherwise, registration costs £154.</p>	

					<h3 id="howapply" class="govuk-heading-m">Before you start</h3>

					<p>If waste is your main business, you’ll need:</p>

					<ul class="govuk-list govuk-list--bullet">
								<li>names and dates of birth of the organisation’s executives, owners, directors or partners</li>
								<li>details of any environmental offences they’ve committed</li>
								<li>a way to pay (for example, a debit or credit card)</li>	
					</ul>



					<h3 id="howapply" class="govuk-heading-m">What happens after you register</h3>

					<p>
						Once you’ve registered, your organisation’s details appear in the
						<a href="https://environment.data.gov.uk/public-register/view/search-waste-carriers-brokers">public register of waste carriers, brokers and dealers</a>.
					</p>

					<h2 id="renew-your-application" class="govuk-heading-m">Renew your registration</h2>

						<p>When you register, you’ll be told whether your registration is ‘upper tier’ or ‘lower tier’.</p>

						<p>If you have an upper tier registration, you must renew your registration every 3 years. It costs £105.</p>
						
						<p>You do not need to renew a lower tier registration.</p>

					<h2 id="change-details" class="govuk-heading-m">What to do if your details change</h2>



					<p>You must contact the Environment Agency within 28 days to update your registration if:</p>

		
					<ul class="govuk-list govuk-list--bullet">
					<li>your organisation’s contact details change</li>
					<li>your organisation’s management changes</li>
					<li>someone in management is convicted of an environmental offence</li>
					<li>your organisation changes what it does, for example you’re registered as a waste carrier but start acting as a waste broker as well</li>
					</ul>


					<p>It costs £40 to change what your organisation does.</p>

					<p>You must make a new registration if:</p>

					<ul class="govuk-list govuk-list--bullet">
					<li>your business type has legally changed, for example if you change from a sole trader to a limited company</li>
					<li>you’re changing from a lower tier to an upper tier registration</li>
					</ul>
					

					<p>It costs £154 to make a new registration.</p>

					<p>Contact the Environment Agency if you’re not sure what to do.</p>

				<section id="otherapply">
						<article>

							<h2 id="contact-the-environment-agency" class="govuk-heading-m">Contact the Environment Agency</h2>
							
							<p>
								Quote your registration number. You’ll find it on your registration letter or email - it starts with ‘CB’.
							</p>
							<br/>
							<div class="contact">

									<p><a href="mailto:nccc-carrierbroker@environment-agency.gov.uk">nccc-carrierbroker@environment-agency.gov.uk</a><br/>
									testTelephone: 03708 506 506<br/>
									Telephone from outside the UK: +44 (0) 114 282 5312<br/>
									Monday to Friday, 8am to 6pm<br/>
									<a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
							</div>
						</article>
				</section>

					<br/>			
				<section id="otherapply">
						<article>

							<div class="contact">

								<p>Environment Agency general enquiries<br/>
									National Customer Contact Centre<br/>
									Quadrant 2<br/>
									99 Parkway Avenue<br/>
									Sheffield<br/>
									S9 4WF</p>
							</div>

						</article>
					</section>


							</div>
						</div>

						<div class="govuk-grid-column-one-third">
							<div style="border-top:2px solid#1d70b8; padding-top:20px;line-height:-23.25em;">

							<h3 class="govuk-heading-s">Related content</h3>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Register or renew as a waste carrier, broker or dealer (Wales)</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Register or renew as a waste carrier or broker (Scotland)</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Register or renew as a waste carrier or broker (Northern Ireland)</a></p>
					</div>

				
							</div>

					</div>



{% endblock %}